@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/stranger-things-97-cool-logo-animation.gif);
    background-position: 50% 50%;
    background-size: 10% ;
    height: 70px;
    animation: move 12s linear infinite;
}

.navbar  {
    display: flex;
    justify-content: left;
    background-color: #551a1a;
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}

li {
    
    display: inline;
}


/*link*/

a {
    color: white;
    text-decoration: none;
}

/*index.html*/

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-position: center;
    background-size: 100% 110%;
    background-image: url(./image/882548.jpg);
}

.main .main-box {
    color: white;
    height: 700px;
}

.main .main-box .box-actu {
    
    background-color: #611f00;
    border-radius: 5px;
}


/*contact*/

.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url(./image/879366.png);
    background-size: 100% 100%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #611f00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }

.main-contact .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
}


/*video.html*/

.videoplayer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    background-image: url(./image/wallpapersden.com_stranger-things-season-4-poster_1920x1080\ \(1\).jpg);
    background-size: 100% 100%;
} 





/*footer*/


footer {
    display: flex;
    justify-content: space-around;
    height: 310px;
    background-color: #940000;
}